/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file.

******************************************************************/

// Import custom mixins
@import "mixins";

// Import local Foundation overrides - Don't link to Bower version as it will be overwritten whenever updated
@import "settings";

// Import foundation.scss from vendor files
@import "../../vendor/foundation-sites/scss/foundation";

// Import Motion-UI from vendor files
@import "../../vendor/motion-ui/src/motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;

// Select the components you want to use
  @include foundation-global-styles;
  @include foundation-grid;
  // @include foundation-flex-grid;
  // @include foundation-flex-classes;
  @include foundation-typography;
  @include foundation-forms;
  @include foundation-button;
  @include foundation-accordion;
  @include foundation-accordion-menu;
  @include foundation-badge;
  @include foundation-breadcrumbs;
  @include foundation-button-group;
  @include foundation-callout;
  @include foundation-card;
  @include foundation-close-button;
  @include foundation-menu;
  @include foundation-menu-icon;
  @include foundation-drilldown-menu;
  @include foundation-dropdown;
  @include foundation-dropdown-menu;
  @include foundation-responsive-embed;
  @include foundation-label;
  @include foundation-media-object;
  @include foundation-off-canvas;
  @include foundation-orbit;
  @include foundation-pagination;
  @include foundation-progress-bar;
  @include foundation-slider;
  @include foundation-sticky;
  @include foundation-reveal;
  @include foundation-switch;
  @include foundation-table;
  @include foundation-tabs;
  @include foundation-thumbnail;
  @include foundation-title-bar;
  @include foundation-tooltip;
  @include foundation-top-bar;
  @include foundation-visibility-classes;
  @include foundation-float-classes;

// Import your custom styles
@import "main";

// Import your retina/HD styles
@import "2x";

// Import your print styles
@import "print";

// Import unslider styles
@import "unslider";

/*==============================================================================
  	Table of Contents

	#Global Styles
    #Button Styles
  	#Header/Nav
    #Off Canvas Nav
    #Content Area
    #Callout Styles
    #Sidebar Styles
	#Homepage
    #Secondary Page Template
    #Ad Testimonials Page Template
    #Business Directory Template
    #Business Listing Category Archive Template
    #Blog Index Template
    #Blog Article page - single.php, parts/loop-single.php
    #Pick Up Locations Template
    #Search Results Template
    #Footer
	#Media Queries
==============================================================================*/
$mainTeal: #009c9a;
$mainPink: #df679b;
$dkRed: #9c2700;

/*===============================
Social Media Color Variables
===============================*/
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;
$yelp: #d32323;

/*==============================================================================
  	#Global Styles
==============================================================================*/
body {
    background-image: linear-gradient(#d2eeee, #cde2c1);
    background-attachment: fixed;
}

.dk_clearfix {
    clear: both;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;

    span {
        color: $mainTeal;
    }
}

.dk_heading {
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #e0e0e0;
    color: #999;
    position: relative;
    padding-bottom: 0.5rem;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 4px;
        width: 50px;
        border-bottom: 4px solid $mainPink;
    }
}

.dk_homepage, .dk_secondarypage {
    &#content {
        #inner-content {
            padding: 1.125rem 1rem 2.5rem 1rem;
        }
    }

    #main {
        padding-right: 1.5rem;

        .dk_maincontent {
            padding-right: 2.4375rem; //4.375rem;
            border-right: 1px solid #e0e0e0;
        }
    }
}

.dk_secondarypage_fullwidth, .dk_archive {
    &#content {
        #inner-content {
            padding: 2.5rem 1rem;
        }
    }
}

/*==============================================================================
  	#Button Styles
==============================================================================*/
.dk_btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5rem 0.925rem;
    color: #fff;
    background-color: $dkRed;
    font-size: 0.925rem;
    -webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;

    &:hover, &:focus {
        background-color: darken($dkRed, 8%);
        text-decoration: none;
        color: #fff;
    }
    &:active {
        -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        background-color: darken($dkRed, 12%);
        color: #fff;
    }
}

/*==============================================================================
  	#Header/Nav
==============================================================================*/
header.header {
    background-color: #fff;
}

.dk_headersocial {
    a {
        width: 40px;
        height: 40px;
        margin-right: 0.5rem;
        display: inline-block;
        text-align: center;
        //background-color: $mainPink;
        i {
            font-size: 1.325rem;
            //color: #fff;

            display: block;
            padding-top: 8px;
        }
        &.dk_facebook {
            border: 2px solid $facebook;
            color: $facebook;

            &:hover {
                background-color: $facebook;
                color: #fff;
            }
        }
        &.dk_twitter {
            border: 2px solid $twitter;
            color: $twitter;

            &:hover {
                background-color: $twitter;
                color: #fff;
            }
        }
        &.dk_youtube {
            border: 2px solid $youtube;
            color: $youtube;

            &:hover {
                background-color: $youtube;
                color: #fff;
            }
        }
        &.dk_googleplus {
            border: 2px solid $googleplus;
            color: $googleplus;

            &:hover {
                background-color: $googleplus;
                color: #fff;
            }
        }
        &.dk_yelp {
            border: 2px solid $yelp;
            color: $yelp;

            &:hover {
                background-color: $yelp;
                color: #fff;
            }
        }
    }
}

.dk_header_row {
    position: relative;
    padding-top: 1.25rem;
    .dk_logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 1.25rem;
        width: 100%;
        max-width: 300px;
    }
    .dk_headerphone {
        position: absolute;
        top: 5rem;
        right: 0;

        a {
            color: #333;
            font-weight: 600;
            margin: 0 0.5rem;
        }
        .dk_rahasya_link {
            display: block;
            color: $mainPink;
            i {
                font-size: 1.5rem;
            }
        }
    }
    .dk_headersocial {
        position: absolute;
        top: 5rem;
        left: 0;
    }
}

.dk_nav .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: $mainPink;
    margin-top: auto;
    border-left-width: 0;
    border-bottom-width: 6px;
    content: "";
    position: absolute;
    background-color: $mainPink;
    top: 0;
    bottom: 50%;
    right: -10px !important;
    width: 50px;
    z-index: -1;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -ms-transform: skew(40deg);
    transform: skew(-320deg);
}

.dk_nav {
    a {
        color: #fff;
        text-transform: uppercase;
    }

    .dk_desktopnav > .menu {
        li {
            padding: 0.325rem 0.5rem;
            font-size: 0.925rem;
        }
        .submenu {
            .active {
                background-color: #df679b;
            }
        }
        > .active {
            background-color: #df679b;

            > a {
                position: relative;
                z-index: 1;

                &:after {
                    content: "";
                    position: absolute;
                    background-color: $mainPink;
                    top: 0;
                    bottom: 50%;
                    right: -10px !important;
                    width: 50px;
                    z-index: -1;
                    -webkit-transform: skew(40deg);
                    -moz-transform: skew(40deg);
                    -ms-transform: skew(40deg);
                    transform: skew(-320deg);
                }
                &:before {
                    content: "";
                    position: absolute;
                    background-color: $mainPink;
                    top: 50%;
                    bottom: 0;
                    right: -10px;
                    width: 50px;
                    z-index: -1;
                    -webkit-transform: skew(40deg);
                    -moz-transform: skew(40deg);
                    -ms-transform: skew(40deg);
                    transform: skew(320deg);
                }
            }
        }
    }
}

/*==============================================================================
  	#Off Canvas Nav
==============================================================================*/
.dk_offcanvas_toggle {
    display: none;
    font-weight: bold;
    a i.fa {
        vertical-align: -1px;
        font-size: 1.475rem;
    }
}

.off-canvas {
    .close-button {
        color: $mainTeal;
        font-weight: bold;

        &:hover {
            color: darken($mainTeal, 12%);
        }
    }
    ul.menu {
        margin-top: 2.5rem;

        a {
            &:hover {
                background-color: $mainTeal;
                color: #fff;
            }
        }

        li.active {
            a {
                color: $mainTeal;
                font-weight: bold;
            }
            &:hover {
                a {
                    color: #fff;

                    ul a {
                        color: $mainTeal;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    ul.menu.submenu {
        margin-top: 0;

        a {
            padding-left: 2.25rem;
        }
    }
    .is-accordion-submenu-parent > a:hover::after {
        color: #fff;
    }
}
/*==============================================================================
  	#Content Area
==============================================================================*/
#content .row {
    background-color: #fff;
}

.dk_subheading {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 1.325rem;
}

.dk_maincontent {
    h3 {
        font-size: 1.125rem;
    }
    h4 {
        font-size: 1.125rem;
    }
    .dk_btn {
        margin-right: 1rem;
    }
    img.alignleft {
        float: left;
        margin-right: 1.125rem;
        margin-bottom: 1rem;
        max-width: 40%;
    }
}

/*==============================================================================
  	#Callout Styles
==============================================================================*/
.dk_callout {
    .dk_heading {
        margin-bottom: 1.125rem;
    }
    img {
        border: 1px solid #d5d5d5;
        padding: 8px;
        margin-bottom: 1rem;
    }
    h4 {
        margin-bottom: 1.375rem;
    }
}

/*==============================================================================
  	#Sidebar Styles
==============================================================================*/
.dk_sidebar {
    h3 {
        font-size: 1.325rem;
        font-weight: 300;
    }
    .dk_heading {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    .dk_adlink_container {
        img {
            margin-bottom: 0.75rem;
        }
        h4 {
            font-size: 1.125rem;
            text-transform: uppercase;
            font-weight: bold;
            color: #999;
        }
    }
    .dk_btn {
        margin-top: 0.625rem;
    }

    .dk_newsletter_legal {
        font-size: 0.75rem;
        color: #a3a3a3;
    }
}
.dk_searchbar {
    position: relative;
    margin-bottom: 2rem;

    input[type="search"] {
        border-color: #e0e0e0;
    }
    .dk_searchsubmit {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin-bottom: 0;
        background-color: transparent;
        z-index: 2;
        color: transparent;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    .fa-search {
        position: absolute;
        right: 14px;
        top: 12px;
        font-size: 1rem;
        color: #444;
        z-index: 1;
    }
}

.dk_sidebarsocial {
    a {
        position: relative;
        display: block;
        img {
            width: 100%;
            vertical-align: top;
        }
        &:after {
            content: '\A';
            position: absolute;
            width: 100%; height:100%;
            top:0; left:0;
            background:rgba(0,0,0,0.4);
            opacity: 0;

        }
        &:hover:after {
            opacity: 1;
        }
    }
}

/*==============================================================================
  	#Homepage
==============================================================================*/

/* Slider Styles */
.dk_homeslider {
    border-bottom: 6px solid $dkRed;
}

.dk_homecallouts {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    .dk_callout {
        width: 95%;
    }

    .columns {
        &:first-child {
            .dk_callout {
                margin-right: auto;
            }
        }
        &:last-child {
            .dk_callout {
                margin-left: auto;
            }
        }
    }
}


.dk_home_adbanners {
    img {
        margin-bottom: 1.5rem;
    }
}

.dk_home_testimonial {
    position: relative;
    background-position: center;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        background-color: rgba(255,255,255,0.6);
        z-index: 0;
    }
    .dk_caption {
        h4 {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }
        position: relative;
        z-index: 1;
        text-align: center;
        max-width: 88%;
        margin: 0 auto;
        display: block;
    }
}

/*==============================================================================
  	#Secondary Page Template
==============================================================================*/
.dk_secondarypage, .dk_secondarypage_fullwidth {
    .dk_topimg {
        margin-bottom: 1rem;
    }
    .dk_content_block {
        margin-top: 1.125rem;
    }

    h3 {
        margin-top: 1.25rem;
    }
    h4, h5, h6 {
        margin-top: 1.5rem;
    }
}

.dk_bullets {
    list-style: none;
    margin-top: 2rem;
    margin-bottom: 2rem;

    li {

        margin-bottom: 1rem;
    }
    i {
        margin-right: 0.5rem;
        font-size: 1rem;
        color: $mainPink;
    }
    a {
        text-transform: uppercase;
        color: #222;
        &:hover {
            color: $mainTeal;
        }
    }
}

.dk_content_block .layoutArea .column {
    padding-left: 0;
    padding-right: 0;
}

.dk_printed_ads_table {

}

/*==============================================================================
  	#Ad Testimonials Page Template
==============================================================================*/
.dk_adtestimonials {
    .dk_testimonial {
        margin-bottom: 2.125rem;
        blockquote {
            color: #222;
            border-left: none;
            margin: 0;
            padding: 0;
        }
        cite {
            text-align: right;
        }
    }
}

/*==============================================================================
  	#Business Directory Template
==============================================================================*/
.dk_businessdirectory {
    #main {
        .dk_maincontent {
            padding-right: 1.875rem;
            border-right: 1px solid #e0e0e0;
        }
    }
}
.dk_directory {
    a {
        display: block;
    }
    li, li.accordion-item {
        a {
            padding: 0.5rem;
            line-height: 1.6;
            &:hover {
                background-color: $mainTeal;
                color: #fff;
            }
        }
        a.dk_subcat {
            padding-left: 1.5rem;
        }
    }
    li.accordion-item.is-active {
        border: 1px solid #efefef;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        a.accordion-title {
            border-bottom: 1px solid #efefef;
        }
    }
}

/*==============================================================================
  	#Business Listing Category Archive Template
==============================================================================*/
.dk_listingcat {
    .dk_listingcat_description {
        margin-top: 1rem;
        margin-bottom: 1.25rem;
    }
    .dk_listingcat_img {
        float: right;
        max-width: 350px;
        margin-bottom: 1rem;
        margin-left: 1.375rem;
    }
    h3 {
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $mainPink;
    }
}

.dk_archive {
    .dk_maincontent {
        padding-right: 1.875rem;
        border-right: 1px solid #e0e0e0;
    }
}

.dk_listings_loop {
    margin-top: 2.5rem;

}

.dk_business_listing {
    position: relative;
    padding: 1rem 0;

    & ~ .dk_business_listing {
        border-top: 1px solid #e0e0e0;
    }
    h5 {
        margin-bottom: 0;
    }
    .dk_webaddress {

    }
    .dk_business_details {
        position: absolute;
        right: 0;
        top: 1rem;
        text-align: right;
        a {
            display: block;
        }
    }
    .dk_businessdescription {
        margin-top: 1.25rem;
    }
    .dk_social {
        margin: 0.5rem 0;
        a {
            display: inline-block;
            width: 25px;
            height: 25px;
            color: #fff;
            text-align: center;

            i {
                font-size: 0.825rem;
            }
            &.dk_facebook {
                background-color: $facebook;

                &:hover {
                    background-color: darken($facebook, 10%);
                }
            }
            &.dk_google {
                background-color: $googleplus;

                &:hover {
                    background-color: darken($googleplus, 10%);
                }
            }
            &.dk_yelp {
                background-color: $yelp;

                &:hover {
                    background-color: darken($yelp, 10%);
                }
            }
            &.dk_twitter {
                background-color: $twitter;

                &:hover {
                    background-color: darken($twitter, 10%);
                }
            }
            &.dk_linkedin {
                background-color: $linkedin;

                &:hover {
                    background-color: darken($linkedin, 10%);
                }
            }
        }
    }

    .dk_cattags {
        font-size: 0.75rem;
        color: #9e9e9e;
        margin-bottom: 0;

        a {
            color: #9e9e9e;

            &:hover {
                color: $mainTeal;
            }
        }
    }
}

.dk_featuredlistings {
    position: relative;
    border-left: 5px solid $mainTeal;
    border-top: 5px solid $mainTeal;
    border-bottom: 5px solid $mainTeal;
    margin-bottom: 1.5rem;
    .dk_featured_tag {
        position: absolute;
        top: -13px;
        left: 8px;
        background-color: $mainTeal;
        padding: 1px 7px;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.875rem;
        z-index: 2;
    }
    .dk_business_listing {
        padding-left: 1rem;
    }
}
/*==============================================================================
  	#Blog Index Template
==============================================================================*/
.dk_blog {
    #main {
        .dk_maincontent {
            padding-right: 1.875rem;
            border-right: 1px solid #e0e0e0;
        }
    }
}

.dk_blog {
    article {
        h2 {
            font-size: 1.625rem;
        }
    }

    .dk_blognav {
        a {
            font-weight: bold;
            padding: 0.5rem 1rem;
            border: 1px solid $mainTeal;
            &:hover {
                background-color: $mainTeal;
                color: #fff;
            }
        }
    }
}

.dk_blogexcerpt {
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #efefef;
    .dk_excerptimg {
        float: right;

        img {
            margin-left: 1rem;
            margin-bottom: 1rem;
        }

        .dk_mobile {
            display: none;
        }
    }
}
/*==============================================================================
  	#Blog Article page - single.php, parts/loop-single.php
==============================================================================*/
.dk_post {
    .dk_featuredimg {
        max-width: 50%;
        float: left;
        margin-right: 1.125rem;
        margin-bottom: 1rem;
    }
    .dk_postcontent {

    }
}

/*==============================================================================
  	#Pick Up Locations Template
==============================================================================*/
.dk_pickup_locations {
    ul {
        list-style: none;
        margin-left: 0.5rem;
        margin-bottom: 0;
    }
    .accordion-content {
        ul {
            margin-left: 0.5rem;
            padding-top: 0.5rem;
        }
        li {
            font-size: 0.8375rem;
            margin-bottom: 0.5rem;
            line-height: 1.45;
        }
    }
}

/*==============================================================================
  	#Search Results Template
==============================================================================*/
.dk_search {
    .dk_noresults {
        h3 {

        }
    }
    .dk_bizsearch, .dk_articlesearch {
        border-top: 1px solid #e0e0e0;

        .dk_classification {
            border: 1px solid #e0e0e0;
            border-top: none;
            font-size: 0.8375rem;
            color: $mainTeal;
            padding: 5px;
            display: inline-block;
        }

        .dk_blogexcerpt {
            border-bottom: none;
        }
        h5 {
            margin-top: 0;
        }
    }

}

/*==============================================================================
  	#Contact Form Styles
==============================================================================*/
.dk_submit_btn {
    font-family: $body-font-family;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5rem 0.925rem;
    color: #fff;
    border: none;
    margin-top: 1.125rem;
    cursor: pointer;
    background-color: $mainTeal;
    font-size: 0.925rem;
    -webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;

    &:hover, &:focus {
        background-color: darken($mainTeal, 8%);
        text-decoration: none;
        color: #fff;
    }
    &:active {
        -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        background-color: darken($mainTeal, 12%);
        color: #fff;
    }
}

/*==============================================================================
  	#Footer
==============================================================================*/
.dk_footer_inner {
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
    padding: 1rem;
    background-color: #fff;

    .dk_logo {
        width: 180px;
        float: left;
    }

    .copyright {
        text-align: right;
        margin-top: 32px;
    }
}


/*==============================================================================
  	#Media Queries
==============================================================================*/
@media screen and (max-width: 1614px) {
    .dk_header_row {
        .dk_headerphone {
            right: 1rem;
        }
        .dk_headersocial {
            left: 1rem;
        }
    }
}
@media screen and (max-width: 1099px) {
    .dk_desktopnav {
        display: none;
    }
    .dk_offcanvas_toggle {
        display: block;
    }
    .dk_homepage, .dk_secondarypage {
        #main {
            .dk_maincontent {
                padding-right: 1.375rem;
            }
        }
    }
}

@media screen and (max-width: 869px) {
    .dk_header_row {
        .dk_logo {
            position: absolute;
            left: 15px;
        }
        .dk_header_contact {
            display: block;
            width: 100%;
            padding: 35px 0;
            padding-right: 15px;
        }
        .dk_headersocial, .dk_headerphone {
            position: static;
            text-align: right;
            margin-bottom: 1.25rem;
            .dk_yelp {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 769px) {
    .dk_post {
        .dk_featuredimg {
            max-width: 100%;
            float: none;
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 639px) {
    .dk_header_row {
        .dk_logo {
            position: static;
            left: initial;
        }
        .dk_header_contact {
            padding: 0;
        }
        .dk_headersocial, .dk_headerphone {
            position: static;
            text-align: center;
            margin-bottom: 1.25rem;
            .dk_yelp {
                margin-right: 0;
            }
        }
    }

    .dk_homepage, .dk_secondarypage {
        #main {
            padding-right: 0.625rem;

            .dk_maincontent {
                padding-right: 0;
                border-right: none;
                border-bottom: 1px solid #e0e0e0;
                margin-bottom: 2rem;
            }
        }
    }
    .dk_blog {
        #main {
            .dk_maincontent {
                padding-right: 0;
                border-right: none;
                border-bottom: 1px solid #e0e0e0;
                margin-bottom: 2.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }

    .dk_blogexcerpt {
        .dk_excerptimg {
            float: none;
            img {
                margin-left: 0;
            }
            .dk_desktop {
                display: none;
            }
            .dk_mobile {
                display: block;
            }
        }
    }

    .dk_homecallouts {
        .columns:first-child, .columns:last-child {
            .dk_callout {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 1.5rem;
            }
        }
    }

    .dk_footer_inner {
        .dk_logo, .copyright {
            float: none;
            text-align: center;
            display: block;
            margin: 0 auto;
        }
        .copyright {
            margin-top: 1rem;
        }
    }
}
